.load-more-movies-btn {
    position: fixed;
    z-index: 49;
    right: 20px;
    bottom: 20px;
    background-color: var(--aqua-100);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: visibility ease-out 300ms, opacity ease-out 300ms, transform ease-out 150ms;
}
.load-more-movies-btn.open {
    visibility: visible;
    opacity: 1;
}
.load-more-movies-btn svg {
    width: 20px;
    height: 20px;
    fill: var(--dark-100);
}
.load-more-movies-btn:hover {
    transform: scale(.85);
}
.loading {
    background-color: transparent;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 5px solid var(--dark-200);
    border-bottom: 5px solid transparent;
    animation: anima_loading 1.5s infinite linear;
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-out 300ms, opacity ease-out 300ms;
    position: absolute;
}
.loading.open {
    visibility: visible;
    opacity: 1;
}
.load-more-movies-btn.loader svg {
    fill: transparent;
}
@keyframes anima_loading {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}