.pop-up {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--black-a-50);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: visibility ease-out 300ms, opacity ease-out 300ms;
}
.pop-up.open {
    visibility: visible;
    opacity: 1;
}
.pop-card {
    position: relative;
    width: 90vw;
    max-width: 600px;
    background-color: var(--dark-200);
    padding: 35px 50px;
    overflow-y: auto;
    max-height: 90vh;
    border-radius: 5px;
}
.pop-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 3px, 0 3px);
    background-color: var(--aqua-100);
    border-radius: 5px;
}
.pop-card h5 {
    margin: 0;
    font-size: 28px;
    color: var(--gray-400);
    width: calc(100% - 340px);
}
.embeded {
    width: 310px;
    height: 130px;
    background-color: var(--dark-100);
    display: flex;
    justify-content: center;
}
.embeded iframe {
    width: 310px;
    height: 130px;
}
.pop-card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
@media screen and (max-width: 650px) {
    .pop-card-top {
        flex-direction: column;
        align-items: center;
    }
    .pop-card h5 {
        text-align: center;
        width: 100%;
    }
    .pop-card {
        padding: 35px 10px;
    }
    .embeded {
        width: 100%;
    }
}
@media screen and (max-width: 340px) {
    .embeded, .embeded iframe {
        width: 100%;
        height: 100px;
    }
}

.pop-card-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pop-card button {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
}
.pop-card button svg {
    fill: var(--white);
    width: 20px;
    height: 20px;
}
.pop-card-info div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 12.5px;
    flex-wrap: wrap;
}
.pop-card-info span {
    position: relative;
}
.pop-card-info span::before {
    content: "";
    position: absolute;
    top: calc(50% - 2.5px);
    left: -12.5px;
    width: 5px;
    height: 5px;
    background-color: var(--aqua-100);
    border-radius: 50%;
}